.fc {
	direction: ltr;
	text-align: left;
	position:relative;
	z-index:0;
}
.fc-rtl {
	text-align: right;
}
body .fc { 
	font-size: 1em;
}
.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
}
/*--------------------------- Colors Full Calendar-----------------------------------*/
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #ddd;
}
.fc-unthemed .fc-popover {
	background-color: #fff;
}
.fc-unthemed hr,
.fc-unthemed .fc-popover .fc-header {
	background: #546E7A;
}
.fc-unthemed .fc-popover .fc-header .fc-close {
	color: #fff;
}
.fc-unthemed .fc-today {
	*background: #dce9f1;
}
.fc-highlight { 
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30);
}

.fc-bgevent {
	background: rgb(143, 223, 130);
	opacity: .3;
	filter: alpha(opacity=30); 
}

.fc-nonbusiness { 
	background: #ccc;
}

/*--------------------- Icons (inline elements with styled text that mock arrow icons)-------------------------*/

.fc-icon {
	display: inline-block;
	font-size: 2em;
	line-height: .5em;
	height: .5em; 
}

.fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: bold;
}

.fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: bold;
}

.fc-icon-left-double-arrow:after {
	content: "\000AB";
}

.fc-icon-right-double-arrow:after {
	content: "\000BB";
}

.fc-icon-x:after {
	content: "\000D7";
}


/*--------------------- Buttons (styled <button> tags, normalized to work cross-browser)--------------------*/

.fc button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0 .6em;
	font-size: 0.9em; 
	white-space: nowrap;
	cursor: pointer;
	color:#ffffff;
	height: 30px;
    border-radius: 2px;
    line-height: 30px;
	outline: 0;
	padding:0 1.5rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	*margin-bottom:0.2rem;
}
.fc button {
	text-decoration: none;
	background-color: #0091ea;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
}

.fc button::-moz-focus-inner { margin: 0; padding: 0; }
	
/*.fc-state-default { 
	border: 1px solid;
}

.fc-state-default.fc-corner-left { 
	*border-top-left-radius: 4px;
	*border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
	*border-top-right-radius: 4px;
	*border-bottom-right-radius: 4px;
}*/


.fc button .fc-icon { 
	position: relative;
	top: .05em; 
	margin: 0 .1em;
}
	
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

/*.fc-state-default {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333;
	*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}*/

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	color: #333333;
	background-color: #e6e6e6;
}

.fc-state-hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
	background-color: #cccccc;
	background-image: none;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}


/*------------------------- Buttons Groups--------------------------*/

.fc-button-group {
	display: inline-block;
}


.fc .fc-button-group > * {
	float: left;
	margin: 0 8px 0 -1px;
}

.fc .fc-button-group > :first-child { /* same */
	margin-left: 0;
}


/*---------------------------- Popover----------------------------------*/

.fc-popover {
	position: absolute;
	box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.fc-popover .fc-header {
	padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
	margin: 2px;
}

.fc-popover .fc-header .fc-close {
	cursor: pointer;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
	float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
	float: right;
}

/* unthemed */

.fc-unthemed .fc-popover {
	border-width: 1px;
	border-style: solid;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
	font-size: 25px;
	margin-top: 4px;
	color:#ffffff;
}


.fc-popover > .ui-widget-header + .ui-widget-content {
	border-top: 0; 
}


/*---------------------- Misc Reusable Components---------------------------------*/

.fc hr {
	height: 0;
    margin: 0;
    padding: 0 0 2px;
    border-style: solid;
    border-width: 0px 0;
    max-width: 100%;
}

.fc-clear {
	clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.fc-bg {
	bottom: 0; 
}

.fc-bg table {
	height: 100%; 
}


/* -----------------------Tables----------------------------------------*/

.fc table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em; 
}

.fc th {
	text-align: center;
}

.fc th,
.fc td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	color:#575757;
}

.fc td.fc-today {
	border-style: double; 
}


/*---------------------- Fake Table Rows----------------------------------*/

.fc .fc-row { 
	border-style: solid;
	border-width: 0;
}

.fc-row table {
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;
	border-bottom: 0 hidden transparent; 
}

.fc-row:first-child table {
	border-top: 0 hidden transparent;
}


/*------------------------- Day Row (used within the header and the DayGrid)-----------------------------*/

.fc-row {
	position: relative;
}

.fc-row .fc-bg {
	z-index: 1;
	background:#f5f5f5;
}

/*
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
	bottom: 0;
}

.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
	height: 100%;
}

.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
	border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
	z-index: 2;

}

.fc-row .fc-highlight-skeleton {
	z-index: 3;
}*/


.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px; 
}

.fc-row .fc-helper-skeleton {
	z-index: 5;
}
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
	background: none; 
	border-color: transparent;
	border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td, 
.fc-row .fc-helper-skeleton tbody td {
	border-top: 0;
}


/*--------------------------- Scrolling Container---------------------------------------*/

.fc-scroller { 
	overflow-y: scroll;
	overflow-x: hidden;
}

.fc-scroller > * { 
	position: relative; 
	width: 100%;
	overflow: hidden; 
}


/*---------------------- Global Event Styles-------------------------------------*/

.fc-event {
	position: relative; 
	display: block; 
	font-size: .85em;
	line-height: 1.3;
	*border-radius: 3px;
	*border: 1px solid #3a87ad; 
	*background-color: #3a87ad; 
	font-weight: normal; 
}

.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
	color: #555555; 
	text-decoration: none; 
}

.fc-event[href],
.fc-event.fc-draggable {
	cursor: pointer; 
}

.fc-not-allowed,
.fc-not-allowed .fc-event { 
	cursor: not-allowed;
}


/* --------------------------DayGrid events-------------------------------------*/

.fc-day-grid-event {
	margin: 1px 2px 0; 
	padding: 0 1px;
}


.fc-ltr .fc-day-grid-event.fc-not-start,
.fc-rtl .fc-day-grid-event.fc-not-end {
	margin-left: 0;
	border-left-width: 0;
	padding-left: 1px; 
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.fc-ltr .fc-day-grid-event.fc-not-end,
.fc-rtl .fc-day-grid-event.fc-not-start {
	margin-right: 0;
	border-right-width: 0;
	padding-right: 1px; 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.fc-day-grid-event > .fc-content {
	*white-space: nowrap;
	overflow: hidden;
    background: #617d8a;
    color: #f5f5f5;
    padding: 6px;
    margin: -17px -3px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.fc-day-grid-event .fc-time {
	font-weight: bold;
}


.fc-day-grid-event .fc-resizer {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7px;
}

.fc-ltr .fc-day-grid-event .fc-resizer {
	right: -3px;
	cursor: e-resize;
}

.fc-rtl .fc-day-grid-event .fc-resizer {
	left: -3px;
	cursor: w-resize;
}


/*------------------------ Event Limiting------------------------------------------*/

a.fc-more {
	margin: 1px 3px;
	font-size: .85em;
	cursor: pointer;
	text-decoration: none;
}

a.fc-more:hover {
	text-decoration: underline;
	color:#546E7A;
}

.fc-limited { 
	display: none;
}


.fc-day-grid .fc-row {
	z-index: 1; 
}

.fc-more-popover {
	z-index: 2;
	width: 220px;
}

.fc-more-popover .fc-event-container {
	padding: 10px;
}

/*----------------------------- Toolbar-----------------------------------*/

.fc-toolbar {
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom:0.5rem;
}

.fc-toolbar .fc-left {
	float: left;
}

.fc-toolbar .fc-right {
	float: right;
    margin-right: -7px;
}

.fc-toolbar .fc-center {
	display: inline-block;
}

.fc .fc-toolbar > * > * { 
	float: left;
	margin-left: .75em;
}

.fc .fc-toolbar > * > :first-child { 
	margin-left: 0;
}
	
.fc-toolbar h2 {
	margin: 0;
}


.fc-toolbar button {
	position: relative;
	    border: none;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
	z-index: 2;
}
	
.fc-toolbar .fc-state-down {
	z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
	z-index: 4;
}

.fc-toolbar button:focus {
	z-index: 5;
}


/*------------------------------- View Structure----------------------------------------*/

.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.fc-view, 
.fc-view > table { 
	position: relative;
	z-index: 1;
}

/*------------------------- BasicView------------------------------------*/

.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
	padding-top: 1px; 
	padding-bottom: 1em;   
}

.fc-basic-view tbody .fc-row {
	min-height: 4em; 

}
.fc-row.fc-rigid {
	overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
	padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
	padding-top: 2px;
	padding-bottom: 2px;
}

.fc-basic-view .fc-week-number {
	text-align: center;
}

.fc-basic-view .fc-week-number span {
	display: inline-block;
	min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-day-number {
	text-align: right;
	display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 38px;
}

.fc-rtl .fc-basic-view .fc-day-number {
	text-align: left;
}

.fc-day-number.fc-other-month {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

/* -----------------------AgendaView all-day area--------------------------------*/

.fc-agenda-view .fc-day-grid {
	position: relative;
	z-index: 2; 
}

.fc-agenda-view .fc-day-grid .fc-row {
	min-height: 3em; 
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
	padding-top: 1px; 
	padding-bottom: 1em; 
}


/* -------TimeGrid axis running down the side (for both the all-day area and the slot area)---*/

.fc .fc-axis { 
	vertical-align: middle;
	padding: 0 4px;
	white-space: nowrap;
}

.fc-ltr .fc-axis {
	text-align: right;
}

.fc-rtl .fc-axis {
	text-align: left;
}

.ui-widget td.fc-axis {
	font-weight: normal; /* overcome jqui theme making it bold */
}


/*----------------------- TimeGrid Structure-----------------------------*/

.fc-time-grid-container, 
.fc-time-grid { 
	position: relative;
	z-index: 1;
}

.fc-time-grid {
	min-height: 100%;
}

.fc-time-grid table { 
	border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
	z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr {
	position: relative;
	z-index: 2;
}

.fc-time-grid .fc-bgevent-skeleton,
.fc-time-grid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.fc-time-grid .fc-bgevent-skeleton {
	z-index: 3;
}

.fc-time-grid .fc-highlight-skeleton {
	z-index: 4;
}

.fc-time-grid .fc-content-skeleton {
	z-index: 5;
}

.fc-time-grid .fc-helper-skeleton {
	z-index: 6;
}


/* --------------------TimeGrid Slats (lines that run horizontally)------------------------*/

.fc-slats td {
	height: 1.5em;
	border-bottom: 0;
}

.fc-slats .fc-minor td {
	border-top-style: dotted;
}

.fc-slats .ui-widget-content { 
	background: none; 
}


/* --------------------------TimeGrid Highlighting Slots-----------------------------------*/

.fc-time-grid .fc-highlight-container { 
	position: relative; 
}

.fc-time-grid .fc-highlight {
	position: absolute;
	left: 0;
	right: 0;
}


/*------------------------- TimeGrid Event Containment----------------------------*/

.fc-time-grid .fc-event-container,
.fc-time-grid .fc-bgevent-container { 
	position: relative;
}

.fc-ltr .fc-time-grid .fc-event-container { 
	margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
	margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
	position: absolute;
	z-index: 1; 
}

.fc-time-grid .fc-bgevent {
	left: 0;
	right: 0;
}

/* ---------------------------TimeGrid Event Styling-------------------------------------------*/

.fc-time-grid-event.fc-not-start { 
	border-top-width: 0;
	padding-top: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fc-time-grid-event.fc-not-end {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fc-time-grid-event {
	overflow: hidden; 
}

.fc-time-grid-event > .fc-content { 
	position: relative;
	z-index: 2; /* above the bg */
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
	padding: 0 1px;
}

.fc-time-grid-event .fc-time {
	font-size: .85em;
	white-space: nowrap;
}

.fc-time-grid-event .fc-bg {
	z-index: 1;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25); 
}


.fc-time-grid-event.fc-short .fc-content {
	white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
	display: inline-block;
	vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
	display: none; 
}

.fc-time-grid-event.fc-short .fc-time:before {
	content: attr(data-start);
}

.fc-time-grid-event.fc-short .fc-time:after {
	content: "\000A0-\000A0"; 
}

.fc-time-grid-event.fc-short .fc-title {
	font-size: .85em; 
	padding: 0; 
}

.fc-time-grid-event .fc-resizer {
	position: absolute;
	z-index: 3; 
	left: 0;
	right: 0;
	bottom: 0;
	height: 8px;
	overflow: hidden;
	line-height: 8px;
	font-size: 11px;
	text-align: center;
	cursor: s-resize;
}

.fc-time-grid-event .fc-resizer:after {
	content: "=";
}

.fc-widget-header{
	*background:#546E7A;
	color:black !important;
	height:2rem;
	font-weight: normal;
}
.fc-popover .fc-widget-header{height:1.2rem;}
.fc-widget-header th{
	vertical-align:inherit;
}
.fc-content-skeleton table thead{
	background:none !important;
}
.fc-start.fc-end{
	border-bottom-style: none;
	border-bottom-width:0px;
}
.fc-h-event{
	background-color:transparent !important;
	border-bottom-width:2px;
	border-bottom-style: solid;
}
td[colspan]:not([colspan="1"]).fc-event-container a {
	background-color:transparent !important;
	border-bottom-width:2px;
	border-bottom-style: solid;
}
#smallcalendar .fc-basic-view tbody .fc-row{min-height:2rem}
#smallcalendar .fc-center h2{font-size:1rem;}
#calendar .fc-center h2{font-size:1.4rem;}